/* Reset grid */

html { overflow-y: auto; }

body:after {
    content: 'smallscreen';
    display: none;
}

.container_12 {
	width: auto !important;
}

.container_12 .grid_1,
.container_12 .grid_2,
.container_12 .grid_3,
.container_12 .grid_4,
.container_12 .grid_5,
.container_12 .grid_6,
.container_12 .grid_7,
.container_12 .grid_8,
.container_12 .grid_9,
.container_12 .grid_10,
.container_12 .grid_11,
.container_12 .grid_12 {
	display: block;
	width: auto !important;
	margin: 0;
}

.global-nav {
	width: 100%;
	height: 45px;
	padding: 0;
	overflow: visible;
	margin: 0;
	background-color: #111;
	background-position: 0;
	background-image: -moz-linear-gradient(top, #444444, #000000);
	background-image: -ms-linear-gradient(top, #444444, #000000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#000000));
	background-image: -webkit-linear-gradient(top, #444444, #000000);
	background-image: -o-linear-gradient(top, #444444, #000000);
	background-image: linear-gradient(top, #444444, #000000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.global-nav-bg { background: #f5f5f5; padding: 0; }
.global-nav h2 a { 
	width: 140px; 
	height: 45px; 
	background: url(../img/mobile-si-logo.png) no-repeat; 
	top: 0;
	left: 0;
}
.global-nav h4 { top: 10px; left: 147px; font-size: 10px; line-height: 1.2; margin: 0; padding-right: 38px; color: #ddd; }
.global-nav h4 a { background: url(../img/mobile-npr.png) no-repeat; }

.global-utils { display: none; }

#global-branding {
	width: auto;
	margin: 0 0 15px;
	padding: 10px;
	background-color: #252C33;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#385377), to(#252C33));
	background-image: -moz-linear-gradient(#385377, #252C33);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #385377), color-stop(100%, #252C33));
	background-image: -webkit-linear-gradient(#385377, #252C33); 
	background-image: -o-linear-gradient(#385377, #252C33);
	background-image: -ms-linear-gradient(#385377, #252C33);
	background-image: linear-gradient(#385377, #252C33);
	border-top: 1px solid rgba(0,0,0,.5);
}
#global-branding header { width: auto; }
#global-branding h4 { margin: 0; }

#wrapper #global-branding header h3 a,
#topnav li a,
#wrapper #global-branding header h4 { 
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	-webkit-font-smoothing: antialiased;
}
#global-branding .sitesearch { 
	display: none; 
	position: absolute; 
	top: 0;
	left: 0; 
	z-index: 100;
	width: 100% !important;
}
#local-wrapper #global-branding .sw-about-search {
	-webkit-box-sizing: border-box;
	height: 40px !important;
	width: 100% !important;
	padding: 0 5px !important; 
	vertical-align: bottom;
	position: static !important;
	background-image: none;
	background-color: #333;
	font-family: proxima-nova,sans-serif;
	font-size: 18px !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
	-webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.7);
	   -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,.7);
	        box-shadow: inset 0 -1px 2px rgba(0,0,0,.7);
}
#local-wrapper #global-branding input[placeholder] { color: #333 !important; }
#local-wrapper #global-branding input:focus { 
	color: #fff !important;
}
#global-branding .sitesearch .search-submit {
	position: absolute;
	right: 5px; 
	top: 0;
	background: url(../img/mobile-search.png) no-repeat;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

#category-nav { position: static; margin: 0; }
#category-nav #topnav { 
	display:  none; 
	position: absolute;
	top: 0;
	right: 0;
	background: #222;
	border-bottom: 1px solid #333; 
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.7);
	   -moz-box-shadow: 0 3px 10px rgba(0,0,0,.7);
	        box-shadow: 0 3px 10px rgba(0,0,0,.7);
	padding-top: 40px;
}
#topnav li a {
	padding: 10px; 
	color: #ccc;
	border-left: none;
	font-family: proxima-nova,sans-serif !important;
	font-weight: 300 !important; 
	text-transform: none !important;
	letter-spacing: 0 !important;
}
#topnav li a:target {
	background: #666;
}
#topnav li { 
	display: block; 
	float: none; 
	margin: 0; 
	padding: 0; 
	border-top: 1px solid #333; 
	border-bottom: 1px solid #000;
}
#topnav li:first { border-top: none;}
#local-wrapper { 
	min-width: 0;
	background: #fff;
}
#topnav li .sub { display: none !important; }
#main {
	width: auto;
	margin: 0;
	padding: 0 10px;
	background: #fff;
}

.mobile-nav-toggle,
.mobile-nav-toggle:hover { 
	display: block; 
	position: absolute; 
	top: 4px; 
	right: 5px; 
	background-color: #2c2c2c;
	background-position: 0;
	background-image: -moz-linear-gradient(top, #555555, #222222);
	background-image: -ms-linear-gradient(top, #555555, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
	background-image: -webkit-linear-gradient(top, #555555, #222222);
	background-image: -o-linear-gradient(top, #555555, #222222);
	background-image: linear-gradient(top, #555555, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.mobile-nav-toggle .icon-bar {
	width: 20px;
	height: 3px;
	display: block;
	margin: 4px auto;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	background: whiteSmoke;
}

.mobile-nav-toggle:active, .mobile-nav-toggle.active, .mobile-nav-toggle.disabled, .mobile-nav-toggle[disabled] {
	background-color: #222;
	background-position: 0 -30px;
}

#site-footer {
	min-width: 0;
}

img.size-large, 
img.size-full,
.image.right img,
.image.left img { 
	max-width: 100%;
	width: auto;
	height: auto;
}

.module.image { width: 140px !important }
.module.image.center { width: 100% !important; }
.image.right,
.image.left { max-width: 50% !important; height: auto; }


/* Post page */

#content .entry-title {
	line-height: 1.1;
}
.post-content, 
.post-content p {
	line-height: 1.4;
}

#content .meta-gestures { margin-top: 10px; }

#content .meta-gestures li,
#content .meta-gestures li a {
	width: auto !important; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	padding: 0;
	margin: 0 5px 5px 0;
	float: left;
	display: inline-block !important;
	clear: none;
}
#content .meta-gestures .meta-comments,
#content .meta-gestures .meta-email { 
	width: 20px;
	overflow: hidden;
}
#content .meta-gestures .meta-comments a,
#content .meta-gestures .meta-email a {
	width: 25px !important;
	height: 20px;
	text-indent: 100%;
	overflow: hidden;
	padding: 0;
}
#content .meta-comments a span { display: none; }
.single .post-metadata { background: none; border: none; }
#content .related-content { 
	width: 50% !important; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
}
#content .related-content .topics,
#content .related-content .links h5 { display: none; }
#content .related-content .links ul { margin: 0; }
#content .related-content .link { 
	list-style: none; 
	border-top: 1px solid #ddd; 
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
}
#content .related-content .link a { font-size: 12px; }
#content .related-content .link:first-child {
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}

.DV-container {
	max-width: 100%;
	width: 100% !important;
	height: 320px !important;
}

#taxonomy .topic img { width: 100px; height: 100px; margin-right: 10px; }
#taxonomy .topic h3 a { font-size: 18px; }

#sidebar h3, 
#sidebar .widgettitle { 
	border-top: 1px solid #ccc;
}

.p-post,
.n-post { 
	width: 50%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
}

#content .module.aside {
	max-width: 100% !important;
	width: 100% !important;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ddd;
	overflow: auto;
}

#content .module.aside table,
#content table,
#content .pull-quote { 
	max-width: 100% !important; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	margin: 0 0 20px;
}

#content .pull-quote { 
	border-width: 1px 0;
	border-style: solid;
	border-color: #ccc;
	padding: 10px 0;
	float: none;
}

article {
	-webkit-text-size-adjust:100%;
}

/* Jiffy Posts */
.embedded-object {
	margin: 0 0 30px 30px;
}
.embedded-object blockquote {
	font-style: italic;
	margin: 0 0 0 30px;
}
.embed-metadata { width: 20px; }
.jiffy-source {
	display: none;
}
#content .jiffy-sourceurl {
	font-style: normal;
	font-size: 14px;
	margin-top: 20px;
}


#content .slides_container {
	max-width: 100% !important;
	width: 300px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;	
}

#content .slides_container .slides_control > div {
	max-width: 100%;
}

#content .navis-slideshow .pagination {
	display: none;
}

#content .slides_container img {
	max-width: 100%;
	height: auto;
	width: auto;
}

#content ul.playlist {
	max-width: 100% !important; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
}


#content ul.playlist li a.exclude {
	display: none;
}
/*
#content ul.playlist li a.inline {
	padding: 50px 10px 10px 10px;
	background-position: 10px 5px; 
}

#content .playlist { text-align:left; }
#content .playlist li {
  width:100%;
  float:none !important;
  border:1px solid #eeeeee;
  margin-bottom:15px;
  letter-spacing:0;
}
#content .playlist li:hover, 
#content .playlist li.sm2_paused, 
#content .playlist li.sm2_paused:hover, 
#content .playlist li.sm2_playing, 
#content .playlist li.sm2_playing:hover { background:whitesmoke; }
#content .playlist li .sm2_link { font-weight:bold; }
#content .playlist li a {
  background-color:transparent !important;
  background-position:10px 10px !important;
}
#content .playlist li a.inline { padding-left:60px; }
#content .playlist li a.exclude {
  font-size:14px;
  position:absolute;
  top:10px;
  right:10px;
  z-index:10;
}
#content .playlist li.sm2_paused .controls { background:transparent !important; }
#content .playlist li .controls {
  margin-bottom:0;
  padding:0;
}
#content .playlist li .controls .statusbar { 
	background: whiteSmoke !important;
	margin-left: 50px; 
}

#content .playlist li .controls .statusbar,
#content .playlist li .controls .statusbar .position,
#content .playlist li .controls .statusbar .loading {
	height: 40px !important;
	-webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
#content .playlist li .controls .statusbar .loading { 
	display: block !important;
}

#content .playlist li .controls .statusbar .position { 
	background: #BF3119; 
	border-color: #BF3119;
}
#content .playlist li .timing {
  display: block !important;
  font-size: 14px !important;
  right: 10px !important;
  top: 15px !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#content .playlist li .peak, 
#content .playlist li .peak-box { display:none !important; }

ul.playlist li.sm2_playing a.sm2_link, 
ul.playlist li.sm2_paused a.sm2_link { margin-right: 0; }
/*

/* Footer */

footer .container_12 .grid_3 { 
	width: 100% !important; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	padding: 0 10px;
}
#site-footer h3 {
	border-top: 1px solid #333;
	border-bottom: 0;
	padding: 10px 0 0;
	margin: 10px 0;
	clear: both;
}
#site-footer {
	position: relative;
}
#footerlogo a {
	width: 140px; 
	height: 45px; 
	background: url(../img/mobile-si-logo.png) no-repeat; 
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 1px solid #111;
}
#footerstate { 
	position: absolute; 
	top: 0;
	left: 140px;
	line-height: 45px;
	width: 100%;
	font-size: 22px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	padding: 0 10px;
	background-color: #111;
	background-position: 0;
	background-image: -moz-linear-gradient(top, #444444, #000000);
	background-image: -ms-linear-gradient(top, #444444, #000000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#000000));
	background-image: -webkit-linear-gradient(top, #444444, #000000);
	background-image: -o-linear-gradient(top, #444444, #000000);
	background-image: linear-gradient(top, #444444, #000000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border-bottom: 1px solid #111;
}

#site-footer .donate a {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
}

#site-footer .partner-station,
#site-footer .ft-reporter {
	width: 100%;
	padding: 0 0 10px;
	float: none;
}
#site-footer .ft-reporter h4 { margin-bottom:5px; }
#site-footer .ft-reporter h5 { line-height: 1.1; }
#boilerplate { 
	height: auto; 
	width: 100% !important; 
	margin: 0; 
	border-top: none;
}
#site-footer #colophon { margin: 10px; padding: 10px 0; border-top: 1px solid #333; }
#site-footer #colophon li { 
	float: none;
	border: none;
	display: block;
	line-height: 1.3;
}

#ft-archive,
#searchform-footer { display: none; }

#site-footer #colophon li.npr { display: none; }

/* Retina images */
@media all and (-webkit-min-device-pixel-ratio: 2) {
    .global-nav h2 a,
    #footerlogo a { 
    	background: url(../img/mobile-si-logo@2x.png) no-repeat; 
    	background-size: 140px 45px;
    }
    #global-branding .sitesearch .search-submit{
    	background: url(../img/mobile-search@2x.png) no-repeat;
    	background-size: 40px 40px;
    }
    .global-nav h4 a { 
    	background: url(../img/mobile-npr@2x.png) no-repeat; 
    	background-size: 35px 12px;
    }
}