/*   
Theme Name: StateWatch
Description: StateWatch theme
Author: NPR
Template: argo-foundation 
Version: 0.1
*/
@import url(../argo-foundation/css/960.css?v=1);
@import url(../argo-foundation/css/foundation.css?v=1);


/* .container_12 {
background: #fff url(../argo-foundation/img/dev-images/12_col.gif) repeat-y;
} */

/* Global */

body { 
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #444;
}
.container_12 { background: transparent; }
#local-wrapper { background: url(./img/site-nav-bg.png) repeat-x; }
#main { background: url(./img/content-bg.png) no-repeat; width: 960px; padding: 20px 10px; }

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 { margin: 0 0 10px; }
h1 { font-size:36px; line-height: 1; }
h2 { font-size:24px; line-height: 36px; }
h3 { font-size:18px; line-height: 1; }
h4 { font-size:14px; line-height: 1.2; }
p  { font-size:16px; line-height: 1.4; }
#content a, 
#content a:link, 
#content a:visited,
#sidebar a, 
#sidebar a:link, 
#sidebar a:visited { color: #174E82; }

#content a:hover,
#sidebar a:hover { color: #444; }

/* Header */
.global-nav-bg { margin-bottom: 0; }
.global-nav { position: relative; height:35px; font-size: 11px; }
.global-nav h1, .global-nav h2 { margin: 0; }
.global-nav h1 a { display: block; background: url(./img/logo.png) no-repeat; position: absolute; left: -15px; top: -15px; text-indent: -999px; width: 196px; height: 73px; }
.global-nav h2 a { display: block; background: url(./img/npr.png) no-repeat; position: absolute; left: 197px; top: 10px; text-indent: -999px; width: 152px; height: 17px; }
.global-nav .global-utils { position: absolute; right: 0; bottom: 6px;}
	.global-nav .global-utils a { font-weight: bold; color: #555; }
	
	/*global nav */

	.global-nav h4{ float:left; margin:9px 0 0 0; font-size:13px; line-height:1; }
	.global-nav-bg{background-color:#ccc;}
	#npr-bug{position:absolute;top:8px;right:0;}
	.global-nav ul{float:left;margin-left:10px;}
	.global-nav li{font-size:13px;line-height:1;}
	/*global branding */
	#global-branding{width:940px;margin-left:auto;margin-right:auto;margin-bottom:20px;}
	#global-branding header{width:300px;float:left;}
	#global-branding header h1{font-size:30px;width:300px;margin:0;}
	#global-branding header h2{font-size:14px;width:300px;margin:0;}
	/*category nav */
	#category-nav{position:relative;z-index:100;margin-left:320px;}
	#category-nav #topnav .sub{left:-318px;}


	/* featured topics/posts module */

	.home .featured-topics { padding-bottom: 20px; border-bottom: 4px solid #ccc; }
	.featured-topics { margin-bottom: 20px; position: relative; }
		.featured-topics img { float: left; margin-top: 3px; }
		.featured-topics h2 { font-size: 12px; line-height: 1; font-weight: bold; border-bottom: 1px solid #ccc; padding-bottom: 6px; }
		.featured-topics h3 { font-size: 14px; font-weight: bold; }
		.featured-topics h3, .featured-topics h4 { margin:0 0 0 70px; }
		.featured-topics h4 { font-size: 12px; }
		#wrapper .featured-topics a { color: #174E82; } 
		.alltopics { position: absolute; top: 0; right: 0; font-size: 12px; line-height: 1; font-weight: bold;  }
	
	/* Network Panel */
	#argo-panel { height: 200px; }
	#wrapper #apanel-trigger {
		display: inline-block;
		width: auto;
		height: 14px;
		text-indent: 0;
		position: static;
		outline: none;
		background-image: url(./img/panel-arrows.png);
		background-repeat: no-repeat; 
		background-position: 100% 4px;
		padding: 0 20px 0 0;
		line-height: 14px; 
		overflow: hidden;
	}
		#wrapper .global-utils a.cpanel { background-position: 100% 4px; }
		#wrapper #apanel-trigger.opanel { background-position: 100% -18px; }
	#argo-panel-wrapper { background: none; border: none; color: #222; }
	#apanel-content { top: 60px; color: #222; }
		#apanel-content h5 { 
			font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;
			font-size: 16px;
			letter-spacing: .1em;
			color: #000; 
			padding-bottom: 6px; 
			margin-bottom: 6px; 
			border-bottom: 4px solid #999; 
			text-transform: uppercase; 
		}
		#apanel-content p { margin-bottom: 9px; font-size: 12px; }
		#apanel-content a { color: #000; }
		#apanel-content a:hover { color: #666; }
		#apanel-content li { color: #aaa; font-size: 12px; }
	#argo-inner-panel { width: 940px; height: 170px; margin-top: 9px; padding-top: 9px;  }
		#argo-inner-panel>div { height: 170px; }
		#panel-about { width: 300px; position: inherit; left: auto; top: auto; }
			#panel-about p { font-style: normal; font-size: 14px; }

#global-branding { position: relative; z-index: 10; margin: 0 auto; text-shadow: #000 0 1px 3px; -webkit-font-smoothing: antialiased; }
	#global-branding header { width: 460px; margin-top: 18px; }
	#category-nav { position: absolute; right: 0; top: 54px; }
		#topnav li { border-left: 1px solid rgba(0,0,0,.5); padding: 0; }
		#topnav .first { border-left: none; }
		#topnav li a { 
			color: #fff; 
			font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;
			font-weight: 600; 
			letter-spacing: .1em;
			background-image: none; 
			border-left: 1px solid rgba(255,255,255,.2); 
			padding: 6px 18px; 
			margin: 0; 
			line-height: 18px;
			font-size: 18px;
			text-transform: uppercase;
		}
		#topnav .first a { border-left: none; }
		#topnav li a:hover, #topnav li:hover a { background-color: rgba(255,255,255,.1); background-image: none; border-bottom: none; }
	#category-nav #topnav .sub { 
		z-index: 5;
		right: -10px; 
		left: auto; 
		top: 30px; 
		width: 620px;
		border: none; 
		box-shadow: 0 3px 10px #666;
		-webkit-box-shadow: 0 3px 10px #666;
		-moz-box-shadow: 0 3px 10px #666;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
		#topnav li .sub a { font-family: "Helvetica Neue",Arial,sans-serif; text-transform: none; letter-spacing: 0; }
		#topnav li .sub ul { width: 620px; border-radius: 5px; -webkit-border-radius: 5px; }
		#topnav li .sub ul li {	padding: 0;	border-radius: 5px;	-webkit-border-radius: 5px;	}
		.mega-feature { width: 600px; }
			.mega-feature h2 { font-size: 18px; padding-bottom: 0; }
		.category-topics { margin-left: 0; width: 220px; }
		.category-articles { width: 360px; }
		.category-topics, .category-articles { margin-bottom: 10px; }
			#topnav .category-topics ul { width: 220px !important; }
			#topnav .category-topics li, .category-articles h4 { border-bottom: none !important; border-top: 1px solid #ddd !important; padding: 5px 0 0 0 !important; margin: 5px 0 0 0 !important; }
			#topnav .category-topics li a, #topnav .category-articles h4 a { font-size: 12px; }
		.inner-menu { width: auto; text-shadow: none; }
		.inner-menu h3 { font-size: 12px; font-weight: bold; color: #000; padding: 6px 0; border-top: 4px solid #ddd; margin-bottom: 0; }
	
.global-nav-bg { background: transparent; border-bottom: none; }
.global-nav ul { margin-left: 0; }
	.global-nav ul a { color: #222; font-weight: bold; }
	.global-nav ul a:hover { color: #000; }
	.global-nav li { float: left; margin: 10px 20px 0 0; }

#wrapper #global-branding header h2 { 
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
	font-size: 24px; 
	font-weight: bold; 
	margin-bottom: 6px; 
}	
	#wrapper #global-branding header h2 a { color: #fff; }
#wrapper #global-branding header h3 { font-family: "proxima-nova-1","proxima-nova-2",sans-serif; font-size: 18px; color: #fff; }

/* Loop */
.home .post, 
.archive .post, 
.search .post, 
.home .roundup, 
.archive .roundup, 
.search .roundup, 
.home .slideshow, 
.archive .slideshow, 
.search .slideshow {
	border-bottom: 4px solid #ddd; 
}

.post embed, .post object, .post img, { max-width: 100%; }
.image.centered { width: 100% !important; }

.post-metadata { color: #666; margin-bottom: 15px; padding: 10px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
	#content .post-metadata h6 { font-weight: normal; }
	.post-metadata a { font-weight: bold; }
	.post-metadata p { font-size: 13px; margin-bottom: 0; }
	.post-metadata li { margin: 0; font-size: 13px; /* background: transparent url(../argo-foundation/img/icons-buttons.png) no-repeat top left; */
list-style-type: none; }
	.post-metadata .meta-comments { background-position: 0 -222px; height: 18px; padding-left: 20px; } 
.list-pagination { clear: both; }
 	
/* Article */
article header h2 { font-weight: 900; }
#content .entry-date { font-size:13px; margin-bottom:0; font-weight:normal; }
.post-author { margin-bottom:20px; padding:10px 0 15px 0; border-bottom:1px solid #ddd; border-top:1px solid #ddd; }
.post-author img { float:left; margin: 3px 20px 0 0; }
.post-author h4,.post-author h5,.post-author p { margin-left:80px;margin-bottom:0; }
.post-author p { font-size:12px; }
#content .entry-title { 
	margin-bottom: 15px; 
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
	font-size: 32px; 
	line-height: 1.2; 
	font-weight: bold; 
}
#content .entry-title a { font-weight:bold; color: #000; }
.post blockquote { 
	background: transparent; 
	color: #666; 
	border-left: 1px solid #ddd; 
	padding: 0 0 0 20px; 
	font-style: normal;
	font-size: 14px;
}
.post img { box-shadow: #999 0 0 1px; }

.post blockquote p, .post blockquote li { font-size: inherit; }

/* Sidebar */
#sidebar h3 { 
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;
	font-size: 20px; 
	text-transform: uppercase; 
	font-weight: 600; 
	border-top: 4px solid #ddd; 
	padding: 10px 0 0; 
	margin: 10px 0; 
}
.widget-container, .widget { 
	border-bottom: none; 
}
	#sidebar .widget-container:first-child h3, #sidebar .widget:first-child h3 {
		border-top: none;
		padding: 0;
		margin: 0 0 10px;
	}
.link-list li a { font-weight: bold; }
#sidebar p { font-size: 14px; }
#sidebar .ad { border-bottom: none; }

/* Footer */
#site-footer { background: url(./img/footer-bg.png) repeat-x; text-shadow: #000 0 1px 3px; -webkit-font-smoothing: antialiased; }
	#site-footer h3 { 
		font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;
		font-size: 18px; 
		text-transform: uppercase; 
		color: #fff; 
		font-weight: bold; 
		padding-bottom: 5px; 
		border-bottom: 4px solid #fff; 
	}
	#site-footer #footerlogo { border-bottom: none; }
	#footerlogo a { display: block; width: 181px; height: 71px; background: url(./img/logo.png) no-repeat; text-indent: -999px; position: relative; left: -10px; }
	.ft-reporter h5, .partner-station dd { font-size: 13px; margin-left: 0; color: #666; }
	#boilerplate { border-top: none; }
	#ft-archive { margin-top: 0; }
	#ft-archive select { width:215px; }
	#s1 { width:170px; }
	.ft-reporter img { float:left; margin-bottom:10px; margin-right:10px; }
	.ft-reporter h4 { margin:0; line-height:1; }
	.ft-reporter h5 { margin-bottom:10px; font-weight:normal; }
	#site-footer .donate { margin-top:5px; }
	#site-footer .donate a { font-weight:bold; background-color:#3366cc; padding:5px; }
#boilerplate { padding-top: 0; }

/* author page */
#author-bio { margin-bottom:20px; padding:10px 0 15px 0; border-bottom:1px solid #ddd; border-top:1px solid #ddd; }
#author-bio img { float:left; margin-top:3px; }
#author-bio h4,#author-bio h5,#author-bio p,#author-bio ul { margin-left:160px; margin-bottom:0; }
#author-bio p { font-size:12px; }
#author-bio ul { margin-top:10px; }
#author-bio li { float:left; font-size:12px; margin-right:8px; }

/* network news widget */
.sw-network-news h3,.sw-network-news h4,.sw-network-news h6,.sw-network-news p { margin:0; }
.sw-network-news .swnn-tagline { font-size:14px; margin-top:5px; }
.sw-network-news p { line-height:1.4; font-size:12px; }
.sw-network-news img { float:right; margin-left:10px; }
.sw-network-news h4 { font-size:20px; line-height:1; margin-bottom:10px; }
.sw-network-news h6 { margin-top:15px; font-size:12px; font-weight:normal; line-height:1; color:#666; font-style:italic; }

/* beyond statewatch widget */
#beyond-statewatch li { margin-top:5px; border-bottom:none; }
#beyond-statewatch h5 { font-size:14px; margin:0 0 8px 0; line-height:1.1; font-weight:normal; }
#beyond-statewatch a  {  font-weight:bold; }
#beyond-statewatch p { font-size:11px; color:#666; }
#beyond-statewatch p img { float:left; margin-right:10px; }

/* about widget */
.sw-about { margin-bottom:20px; }
.sw-about .sw-about-search { height:19px; width:250px; padding:2px; margin:0 5px 0 0; float:left; font-size:11px; color:#999; }
.abt-module { margin-bottom: 20px; padding-top: 5px; border-top: 4px solid #999; }

/************** ABOUT PAGE ******************/

/* About site sidebar module and about page intro */

#content .module-title { 
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;
	font-size: 24px; 
	text-transform: uppercase; 
	font-weight: 600;
	color: #000; 
	line-height: 32px; 
	margin-bottom: 5px;
}
	#content h2.module-title { font-family: "proxima-nova-1","proxima-nova-2",sans-serif; font-size: 32px; text-transform: capitalize; }
	#content h4.module-title { font-size: 18px; }
.page-template-about-php #content p { font-size: 14px; }
#content .abt-staff h4, #content .partner-station h4 { font-family: "Helvetica Neue",Arial,sans-serif; text-transform: none; }
#content .sw-about { margin-bottom:20px; width:300px; float:left; padding-right:10px; border-top: none; }
#content .abt-staff img { margin-right: 20px; }
#content #sw-abt-network h4 { font-family: "proxima-nova-1","proxima-nova-2",sans-serif; text-transform: none; margin-bottom: 10px; }
#sw-network-partners { border-top: none; }
#sw-network-partners li { text-transform: capitalize; }
#sw-network-partners li a { width: 150px; display: inline-block; }
.sw-social { margin-bottom:5px; }
.sw-social li { float:left; margin-right:5px; text-indent:-10000px; }
.sw-social li a { height:16px; width:16px; display:block; }
.sw-twitter a { background:transparent url(img/twitter16.png) no-repeat; }
.sw-fb a { background:transparent url(img/fb16.png) no-repeat; }
.sw-rss a { background:transparent url(img/rss16.png) no-repeat; }
.sw-info { margin-bottom:10px; }
.sw-info li { font-size:11px; float:left; margin-right:10px; }

/*staff*/
.abt-staff img { float:left; margin:2px 0 10px 0; }
.abt-staff h4,.abt-staff h5,#main .abt-staff p { margin-left:80px; }
#main .abt-staff h4 { margin-bottom:0; font-weight:normal; line-height:1; }
#main .abt-staff h5 { margin-bottom:10px; font-weight:normal; }

/*partner station */
.partner-station { margin-bottom:10px; }
.partner-station img { float:left; }
#content .partner-station h4,#content .partner-station h5 { margin:0 0 0 160px; font-size:12px; font-weight:normal; }

/************** COLLECTION PAGE (tag.php) ******************/
#coll-intro { border-top:1px solid #eee; border-bottom:1px solid #eee; padding-top:10px; color:#333; }
#coll-intro h2 { margin:0 0 20px 0; font-size:36px; color:#333; font-weight:normal; }
#content #crp { padding-bottom:10px; border-bottom:1px solid #eee; overflow:hidden; }
#content #crp h6 { margin:0; padding:0; font-size:14px; }
.key-source { display:block; font-size:11px; color:#ccc; }
.coll-links h6 { margin-bottom:10px; color:#333; }
.coll-links ul { margin-bottom:0; }
.coll-links li { font-size:12px; margin-bottom:10px; }

/* description and links */
.coll-dl { padding-bottom:20px; margin-bottom:10px; }
.coll-dl .coll-desc { width:520px; float:left; margin-bottom:10px; }
.coll-dl .coll-links { float:right; width:360px; border-left:1px solid #ddd; padding-left:30px; }
.coll-dl p { font-size:14px; line-height:1.4; color:#909090; }

/* description only */
.coll-d { margin-bottom:10px; }
.coll-d .coll-desc { color:#333; }
.coll-d .coll-desc h6 { margin-bottom:5px; }
.coll-d .coll-desc { width:780px; }
.coll-d .coll-desc p { color:#666; font-size:16px; }

/* links only */
.coll-l { padding-bottom:10px; margin-bottom:10px; }
.coll-l .coll-links { padding-top:20px; border-top:1px solid #eee; }
.coll-l h6 { float:left; width:125px; }
.coll-l .coll-links li { float:left; margin-left:35px; width:125px; list-style-type:decimal; font-size:12px; }
