/*   
Theme Name: StateWatch
Description: StateWatch theme
Author: NPR
Template: argo-foundation 
Version: 0.1
*/
@import url(../argo-foundation/css/960.css?v=1);
@import url(../argo-foundation/css/foundation.css?v=1);


/* .container_12 {
background: #fff url(../argo-foundation/img/dev-images/12_col.gif) repeat-y;
} */

/* Basic HTML */

body {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #333;
}


/************** HEADER ******************/


/*global nav */

.global-nav h4 {
float: left;
margin: 9px 0 0 0;
font-size: 13px;
line-height: 1;
}

.global-nav-bg {
background-color: #ccc;
}

.global-nav {
height: 35px;
}

#npr-bug {
position: absolute;
top: 8px;
right: 0;
}

.global-nav ul {
float: left;
margin-left: 10px;
}

.global-nav li {
font-size: 13px;
line-height: 1;
}

/*global branding */

#global-branding {
width: 940px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

#global-branding header {
width: 300px;
float: left;
}

#global-branding header h1 {
font-size: 30px;
width: 300px;
margin: 0;
}

#global-branding header h2 {
font-size: 14px;
width: 300px;
margin: 0;
}

/*category nav */

#category-nav {
position: relative;
z-index: 100;
margin-left: 320px;
}

#category-nav #topnav .sub {
left: -318px;
}

/* featured topics/posts module */

.home .featured-topics {
padding-bottom: 20px;
border-bottom: 4px solid #ccc;
}

.featured-topics {
margin-bottom: 20px;
}

.featured-topics img {
float: left;
margin-top: 3px;
}

.featured-topics h3, .featured-topics h4 {
margin:0 0 0 80px;
}

.featured-topics h3 {
font-size: 18px;
}

.featured-topics h4 {
font-size: 12px;
}

/* author page */

#author-bio {
margin-bottom: 20px;
padding: 10px 0 15px 0;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
}

#author-bio img {
float: left;
margin-top: 3px
}

#author-bio h4, #author-bio h5, #author-bio p, #author-bio ul {
margin-left: 160px;
margin-bottom: 0;
} 

#author-bio p {
font-size: 12px;
}

#author-bio ul {
margin-top: 10px;
}

#author-bio li {
float: left;
font-size: 12px;
margin-right: 8px;
}

/* network news widget */

.sw-network-news h3, .sw-network-news h4, .sw-network-news h6, .sw-network-news p {
margin: 0;
}
 
.sw-network-news .swnn-tagline {
font-size: 14px;
margin-top: 5px;
}
 
.sw-network-news p {
line-height: 1.4;
font-size: 12px
}
 
.sw-network-news img {
float: right;
margin-left: 10px;
}
 
.sw-network-news h4 {
font-size: 20px;
line-height: 1;
margin-bottom: 10px;
}
 
.sw-network-news h6 {
margin-top: 15px;
font-size: 12px;
font-weight: normal;
line-height: 1;
color: #666;
font-style: italic;
}

/* beyond statewatch widget */

#beyond-statewatch li {
margin-top: 5px;
border-bottom: none;
}
 
#beyond-statewatch h5 {
font-size: 14px;
margin: 0 0 8px 0;
line-height: 1.1;
font-weight: normal;
}
 
#beyond-statewatch a {
font-weight: normal;
}
 
#beyond-statewatch p {
font-size: 11px;
color: #666;
}
 
#beyond-statewatch p img {
float: left;
margin-right: 10px;
}


/* about widget */

.sw-about {
margin-bottom: 20px;
}

.sw-about .sw-about-search {
height: 19px;
width: 250px;
padding: 2px;
margin: 0 5px 0 0;
float: left;
font-size: 11px;
color: #999;
}

/************** ABOUT PAGE ******************/

/* About site sidebar module and about page intro */
#content .sw-about {
margin-bottom: 20px;
width: 300px;
float: left;
padding-right: 10px;
}

.sw-about p {
font-size: 12px;
margin-bottom: 10px;
}

.sw-social {
margin-bottom: 5px;
}

.sw-social li {
float: left;
margin-right: 5px;
text-indent: -10000px;
}

.sw-social li a {
height: 16px;
width: 16px;
display: block;
}

.sw-twitter a {
background: transparent url(img/twitter16.png) no-repeat;
}

.sw-fb a {
background: transparent url(img/fb16.png) no-repeat;
}

.sw-rss a {
background: transparent url(img/rss16.png) no-repeat;
}

.sw-info {
margin-bottom: 10px;
}

.sw-info li {
font-size: 11px;
float: left;
margin-right: 10px;
}

.sw-info li a {
font-weight: normal;
}

/*staff*/

.abt-staff img {
float: left;
margin: 2px 0 10px 0;
}

.abt-staff h4, .abt-staff h5, #main .abt-staff p {
margin-left: 80px;
}

#main .abt-staff h4 {
margin-bottom: 0;
font-weight: normal;
line-height: 1;
}

#main .abt-staff h5 {
margin-bottom: 10px;
font-weight: normal;
}

#main .abt-staff p {
font-size: 12px;
}

/*partner station */

.partner-station {
margin-bottom: 10px;
}

.partner-station img {
float: left;
}

#content .partner-station h4, #content .partner-station h5 {
margin: 0 0 0 160px;
font-size: 12px;
font-weight: normal;
}

/************** HOME PAGE AND ARCHIVE LOOP (loop.php) ******************/

.post-metadata {
text-align: right;
color: #666;
}

#content .post-metadata h6 {
font-weight: normal;
}

.post-metadata p {
font-size: 10px;
}

.post-metadata li {
margin: 0;
font-size: 11px;
/* background: transparent url(../argo-foundation/img/icons-buttons.png) no-repeat top left; */
list-style-type: none;
}


#content .post-metadata a {
font-weight: normal;
color: #666;
}

.post-metadata .meta-comments { 
background-position: 0 -222px; 
height: 18px; 
padding-left: 20px;
} 

/************** POST (single.php) ******************/

#content .entry-date {
font-size: 11px;
margin-bottom: 0;
font-weight: normal;
}

.post-author {
margin-bottom: 20px;
padding: 10px 0 15px 0;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
}

.post-author img {
float: left;
margin-top: 3px;
}

.post-author h4, .post-author h5, .post-author p {
margin-left: 80px;
margin-bottom: 0;
} 

.post-author p {
font-size: 12px;
}

/* meta gestures 2 column */

#content .entry-title {
margin-left: 160px;
margin-bottom: 30px;
font-size: 24px;
line-height: 1.2;
font-weight: bold;
}

#content .entry-title a {
font-weight: bold;
}

/************** COLLECTION PAGE (tag.php) ******************/

#coll-intro {
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
padding-top: 10px;
color: #333;
}

#coll-intro h2 {
margin: 0 0 20px 0;
font-size: 36px;
color: #333;
font-weight: normal;
}

#content #crp {
padding-bottom: 10px;
border-bottom: 1px solid #eee;
overflow: hidden;
}

#content #crp h6 {
margin: 0;
padding: 0;
font-size: 14px;
}

.key-source {
display: block;
font-size: 11px;
color: #ccc;
}

.coll-links h6 {
margin-bottom: 10px;
color: #333;
}

.coll-links ul {
margin-bottom: 0;
}

.coll-links li {
font-size: 12px;
margin-bottom: 10px;
}

/* description and links */

.coll-dl {
padding-bottom: 20px;
margin-bottom: 10px;
}

.coll-dl .coll-desc {
width: 520px;
float: left;
margin-bottom: 10px;
}

.coll-dl .coll-links {
float: right;
width: 360px;
border-left: 1px solid #ddd;
padding-left: 30px;
}

.coll-dl p {
font-size: 14px;
line-height: 1.4;
color: #909090;
}

/* description only */

.coll-d {
margin-bottom: 10px;
}

.coll-d .coll-desc {
color: #333;
}

.coll-d .coll-desc h6 {
margin-bottom: 5px;
}

.coll-d .coll-desc {
width: 780px;
}

.coll-d .coll-desc p {
color: #666;
font-size: 16px;
}

/* links only */

.coll-l {
padding-bottom: 10px;
margin-bottom: 10px;

}

.coll-l .coll-links {
padding-top: 20px;
border-top: 1px solid #eee;
}

.coll-l h6 {
float: left;
width: 125px;
}

.coll-l .coll-links li {
float: left;
margin-left: 35px;
width: 125px;
list-style-type: decimal;
font-size: 12px;
}

/************** FOOTER ******************/

#ft-archive select {
width: 215px;
}

#s1 {
width: 170px;
}

.ft-reporter img {
float: left;
margin-bottom: 10px;
margin-right: 10px;
}

.ft-reporter h4 {
margin: 0;
line-height: 1;
}

.ft-reporter h5 {
margin-bottom: 10px;
font-weight: normal;
}

#site-footer .donate {
margin-top: 5px;
}

#site-footer .donate a {
font-weight: bold;
background-color: #3366cc;
padding: 5px;
}
