/*   
Theme Name: StateWatch
Description: StateWatch theme
Author: NPR
Template: argo-foundation 
Version: 0.1
*/
@import url(../argo-foundation/css/960.css?v=1);
@import url(../argo-foundation/css/foundation.css?v=1);


/* .container_12 {
background: #fff url(../argo-foundation/img/dev-images/12_col.gif) repeat-y;
} */

/************** HEADER ******************/


/*global nav */

.global-nav h4 {
float: left;
margin: 9px 0 0 0;
font-size: 13px;
line-height: 1;
}

.global-nav-bg {
background-color: #ccc;
}

.global-nav {
height: 35px;
}

#npr-bug {
position: absolute;
top: 8px;
right: 0;
}

.global-nav ul {
float: left;
margin-left: 10px;
}

.global-nav li {
font-size: 13px;
line-height: 1;
}

/*global branding */

#global-branding {
width: 940px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

#global-branding header {
width: 300px;
float: left;
}

#global-branding header h1 {
font-size: 30px;
width: 300px;
margin: 0;
}

#global-branding header h2 {
font-size: 14px;
width: 300px;
margin: 0;
}

/*category nav */

#category-nav {
position: relative;
z-index: 100;
margin-left: 320px;
}

#category-nav #topnav .sub {
left: -318px;
}

/************** FOOTER ******************/

#ft-archive select {
width: 215px;
}

#s1 {
width: 170px;
}

.ft-reporter img {
float: left;
margin-bottom: 10px;
margin-right: 10px;
}

.ft-reporter h4 {
margin: 0;
line-height: 1;
}

.ft-reporter h5 {
margin-bottom: 10px;
font-weight: normal;
}

#site-footer .donate {
margin-top: 5px;
}

#site-footer .donate a {
font-weight: bold;
background-color: #3366cc;
padding: 5px;
}
